#page-header-whykw {
  background-image: url(/public/Images/whykw.png);
}
#page-header-plan {
  background-image: url(/public/Images/missionhouse.png);
}
#page-header-team {
  background-image: url(/public/Images/puzzle.png);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#page-header-team h1 {
  transform: scaleX(-1);
}
/*  MY JOURNEY */
.journey-text-container span {
  /* Styling the first letter of the parragraph "I" */
  font-size: 30px;
  font-weight: bold;
}
.journey-text-header {
  position: absolute;
}
.journey-text-header h1,
.whykw-text-header h1 {
  color: white;
}
.journey-text-container, .plan-text-container, .swiper {
  margin-top: -20%;
}
/* WHY KW PAGE */
.background-cover-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  top: -80px;
  z-index: -1;
  /* margin-bottom: 18rem; */
  min-height: calc(100vh);
  /* border-bottom: 2px solid black; */
}
.whykw .background-cover-image {
  top: -92px;
}
.kwmotto-container {
  margin-top: -82px !important;
}
.whykw-text-header span {
  color: #cf031d;
}
.kwmotto-container {
  background-color: #cf031d !important;
  color: white !important;
}
/* MARKETING SERVICES */
.services-container {
  position: fixed;
  top: 0%;
  overflow: hidden;
}
.services-container,
.services-container .carousel {
  margin-bottom: 0;
}
.services-container .carousel {
  transform: translateX(-50%) translateY(0);
}
.services-container .carousel-indicators,
.services-container .carousel-control-next,
.services-container .carousel-control-prev {
  display: flex !important;
}
.services-text-header {
  position: absolute;
  color: white;
  margin: auto;
  padding: 1rem;
  padding-left: 3rem;
}
.services-text-header h1 {
  padding: 0;
  padding-right: 6rem;
  color: white;
  background-color: rgba(14, 13, 13, 0);
}
.services-text-container {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 1rem;
}
.services-container .text-header-container {
  top: 25%;
  text-shadow: 1px 1px 0px black;
}

/* PLAN PAGE */
#page-header-plan .text-header-container {
  text-align: center;
  padding: 0;
}
.plan-container .text-header-container h1 {
  margin: auto;
  color: white;
  background-color: rgba(14, 13, 13, 0);
}
/* .plan-container .text-header-container {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
} */

/* TEAM PAGE */
.plan-container .swiper {
  background-color: whitesmoke;
  padding: 2rem 0;
}
.plan-container .d-block {
  height: 400px;
  min-height: auto;
}
 .member-title {
  color: black;
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
}
.member-title span{
  color:#cf031d;
}


@media only screen and (min-width: 768px) {
  .journey-text-container {
    padding: 8rem;
    margin-top: -15%;
  }
  /* Why KW */
  .whykw .banner-image-container img,
  .whykw .text-right,
  .whykw .text-left {
    height: 450px;
  }
  .whykw section:nth-child(4),
  .whykw section:nth-child(6) {
    position: relative;
    margin-top: -5px;
  }
  .whykw .image-right {
    position: absolute;
    right: 0;
  }
  .whykw section:nth-child(3),
  .whykw section:nth-child(4),
  .whykw section:nth-child(5),
  .whykw section:nth-child(6),
  .whykw section:nth-child(7) {
    display: inline-flex;
  }
  .whykw .image-left,
  .whykw .text-right,
  .whykw .image-right,
  .whykw .text-left {
    width: 50%;
  }
  /* MARKETING SERVICES */
  .services-container .text-header-container {
    width: 89%;
    padding-left: 9rem;
  }
  .services-text-header h1 {
    margin-bottom: 3rem;
  }
  .services-text-container {
    font-size: 26px;
  }
  /* PLAN PAGE */
  .plan-container .background-cover-image {
    top:-93px;
  }
  .plan-text-container {
    margin-top: -12%;
    padding: 8rem;
  }
  /* TEAM */
  .team-header-container h1{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .journey-text-container {
    margin-top: -8%;
  }
  .services-container {
    width: 100%;
    margin: auto;
    left: 0%;
}
.services-container .text-header-container {
  width: 75%;
  padding-left: 14rem;
}
}

@media only screen and (min-width: 1200px) {
  .journey-text-container {
    margin-top: -6.5%;
  }
}
