/*  MY JOURNEY */
.journey-container span {
  /* Styling the first letter of the parragraph "I" */
  font-size: 30px;
  font-weight: bold;
}
.journey-text-header {
  position: absolute;
}
/* WHY KW PAGE */
#page-header-whykw {
  background-image: url(/public/images/whykw.png);
}

.background-cover-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  top: -80px;
  z-index: -1;
  margin-bottom: 18rem;
  min-height: calc(100vh);
  border-bottom: 2px solid black;
}
/* MARKETING SERVICES */
.services-container {
  position: fixed;
  top: 0%;
  overflow: hidden;
}
.services-container,
.services-container .carousel {
  margin-bottom: 0;
}
.services-container .carousel {
  transform: translateX(-50%) translateY(0);
}
.services-container .carousel-indicators,.services-container .carousel-control-next,.services-container .carousel-control-prev {
 display: flex !important;
}
