.whykw-main-container,
.journey-main-container,
.home-main-container {
  margin-bottom: 1rem;
}
.home-main-container .logoImg,
.whykw-main-container .logoImg,
.journey-main-container .logoImg {
  position: fixed;
  z-index: -1;
  top: 20%;
  box-shadow: none;
}
/* HOME PAGE */

.vide-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: block;
  top: -83px;
  margin-bottom: 18rem;
}
.video {
  background-image: url(/public/images/openingvideo.mp4);
}
.video-hero,
.hero-background-video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-hero,
.hero-background-video,
video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: 100%;
  width: auto;
  opacity: 1;
  transition: opacity 1.5s;
}
/* SWIPER */

/* WHY KW PAGE */
#page-header-whykw {
  background-image: url(/public/images/whykw.png);
}

.background-cover-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  top: -80px;
  z-index: -1;
  margin-bottom: 18rem;
  min-height: calc(100vh);
  border-bottom: 2px solid black;
}
.text-container {
  position: relative;
  top: 50%;
  padding: 1rem;
  font-family: "Arial black", Arial, sans-serif;
}
.text-container h1 {
  width: fit-content;
  background-color: rgba(14, 13, 13, 0.5);
  padding: 1rem;
  color: rgb(255 185 24);
}
.text-container span {
  color: #d20020;
}
/* h1 text in Home Page */
.text-container span:nth-child(3) {
  color: whitesmoke;
  font-size: 26.5px;
}

/* IMAGE TECHNOLOGY */
.kw-image-container img {
  display: block;
  width: 100%;
  height: 270px;
}
.whykw-text-container {
  background-color: whitesmoke;
  color: rgb(63 62 62);
  margin: 0;
  padding: 4rem;
}
.whykw-text-container h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

/*  MY JOURNEY */
#page-header-journey {
  /* background-image: url(/public/images/berrys.png); */
}

.journey-main-container span {
  font-size: 30px;
  font-weight: bold;
}
