html {
  height: auto;
}
body {
  height: 100%;
  background-color: black !important; /* For browsers that do not support gradients */
  font-family: Helvetica, Arial, sans-serif !important;
  margin-top: -2px;
  background-image: conic-gradient(
    from 283deg at 100% 23%,
    rgb(32 31 31) 20deg,
    rgb(14, 13, 13) 44deg,
    rgb(32 31 31) 297deg,
    rgb(94 93 93) 330deg,
    rgb(63 62 62) 344deg
  ) !important;

  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar styling - mobile responsive */
.navbar-collapse {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  background-color: rgba(14 13 13 / 60%);
  min-height: calc(100vh);
  z-index: 1;
  -webkit-animation: navbar-collapse 0.5s forwards;
  animation: navbar-collapse 0.5s forwards;
}
@keyframes navbar-collapse {
  100% {
    left: 0;
  }
}
.collapse:not(.show) {
  animation: collapse 0.5s backwards !important;
  animation-delay: 0.1s !important;
  display: block !important;
}
@keyframes collapse {
  100% {
    left: -100%;
  }
}
.navbar-nav {
  display: block !important;
  padding: 2rem 1rem !important;
}
.contactList-container {
  column-count: initial !important;
  min-height: calc(100vh);
  padding: 2rem;
}
.navbar-nav,
.contactList-container {
  background-color: #f5f5f5;
  margin-top: 0 !important;
  width: 80%;
}
.contactList-container p {
  margin-left: -10px;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

#xmark-container {
  background-color: rgb(14, 13, 13);
  position: absolute;
  left: 60%;
  top: 15px;
  color: rgb(255 185 24) !important;
}

/* ------ */
.navbar-nav {
  flex-direction: initial !important;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}
.nav-link,
.icons a {
  color: black !important;
  font-size: 15px;
  font-weight: bold !important;
  text-decoration: none;
}

.me-auto div {
  padding-right: 7px;
  padding-left: 7px;
}
/* .myteam-container {
  padding-left: 7px;
}
.myteam-container a {
  text-align: center;
} */

.navbar-brand:first-child {
  width: 15%;
  margin-right: 0.5rem;
}
.logoImg {
  width: 100%;
  border-radius: 10%;
  box-shadow: 0px 0px 5px rgb(245, 245, 245);
}
.logoformated-img {
  width: 90%;
  position: fixed;
  top: 22%;
  z-index: -1;
  opacity: 0.2;
}
.jcbTitle {
  color: rgb(211, 209, 209);
  margin: 0.5rem auto;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
}

.fa-bars {
  color: whitesmoke;
}
.navbar-light .navbar-toggler {
  color: rgb(245, 245, 245, 0.55) !important;
  border-color: rgb(245, 245, 245) !important;
}

/* .contactList-container {
  column-count: 2;
  margin: 0.5rem;
  height: 120px;
} */
.icons {
  display: block;
  margin-left: -20px;
  font-size: 15px;
  margin-bottom: 0.7rem;
}

/* .icons a {
  text-decoration: none;
  color: whitesmoke;
}
.icons a:hover {
  color: whitesmoke !important;
} */
.icons svg {
  margin-right: 0.5rem;
}

.icons:nth-child(6) {
  display: block;
  margin-right: 0;
}

.skiptranslate:nth-child(2),
.goog-te-combo:nth-child(2) {
  display: none;
}

/* Jennifer photo styling */
.jenniferImg-container {
  text-align: center;
  margin: 2rem auto;
  animation: fadeIn ease-in-out 0.5s;
}
.jennifer-img {
  width: 75%;
  margin: auto;
  border-bottom: solid 1px rgb(63 62 62);
  border-right: solid 1px rgb(63 62 62);
}

/* Headings 'my name is'...and i'm a ... */
.heading-container {
  padding: 30px 10%;
}

.heading-container p:not(:nth-child(3)) {
  color: rgb(255 185 24);
  margin-bottom: 0;
  font-size: 27px;
  font-weight: 600;
}
.heading-container span {
  margin-left: 0.5rem;
  color: whitesmoke;
}
.heading-container p:nth-child(2) {
  color: rgb(211, 209, 209);
  font-size: 25px;
  margin-top: -14px;
  font-weight: 550;
}
.basedIn {
  padding: 30px 0 0;
  margin-bottom: -15px;
  color: whitesmoke;
}
.basedIn > svg {
  vertical-align: -0.05em;
  margin-left: 0.2rem;
}
.abitAboutMe {
  padding-bottom: 30px;
}
.abitAboutMe span {
  margin-left: 0;
}
.abitAboutMe a:hover {
  color: rgb(255 185 24) !important;
}
.abitAboutMe a {
  color: rgb(211, 209, 209);
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}
/* Ask away banner */
.ask-container {
  /* position: relative;
  height: 200px;
  width: 100%; */
  margin: 1rem auto;
}
/* .questionIcon {
  position: absolute;
  top: 27%;
  right: 6%;
  font-size: 90px;
  color: rgb(14, 13, 13);
  background-color: rgb(255, 185, 24);
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 30px 30px rgb(92, 91, 91);
} */
.ask-container p {
  padding: 30px 10px 20px;
  color: whitesmoke !important;
  margin: auto;
  width: fit-content;
}
.btn-container {
  padding: 10px 30px;
}
.btn-container button {
  background-color: rgb(255 185 24);
  box-shadow: 0px 0px 7px rgb(255 185 24);
  width: 100%;
  height: 50px;
  border-radius: 50px;
}
.btn-container a {
  color: whitesmoke;
  text-shadow: 1px 1px 2px rgb(92 91 91);
  text-decoration: none;
  font-weight: bold;
}
.btn-container a:hover {
  color: rgb(14, 13, 13);
  text-shadow: 1px 1px 2px whitesmoke;
}
.slogan {
  font-size: 20px !important;
  text-align: center;
  font-weight: 500 !important;
  letter-spacing: 1px;
}

/* Footer styling */
.footer-container {
  padding: 60px 0.75rem 15px;
  background-color: rgb(14, 13, 13, 0.3);
  text-align: center;
}
.kwLogo-container,
.realityLogo-container,
.jcbLogo-container {
  width: 20%;
  display: inline-flex;
  margin: 1rem;
}
.jcbLogo-container {
  width: 15%;
}
.kwLogo,
.realityLogo,
.jcbLogo {
  width: 100%;
}

.footer-container p {
  font-size: 14px;
  margin-bottom: 0;
  color: whitesmoke;
}
.createdBy {
  margin-top: 20px;
  font-size: 12px !important;
}
.createdBy span {
  border: 1px solid whitesmoke;
  border-radius: 50%;
  padding: 3.5px 2.5px;
  font-family: serif;
}

/* About Page styling */
.topRedBlock {
  display: block;
  width: 80%;
  height: 20px;
  background-color: rgb(222 5 5 / 90%);
}
.topRedBlock2 {
  margin-left: 20%;
}
.about-container,
.services-container,
.strategy-container {
  padding: 30px 10%;
  color: whitesmoke;
}
.about-container > p:first-child,
.whyKw-parr > p:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about-container > p:first-child,
.whyKw-parr > p:nth-child(2),
.servicesTitles {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255 185 24);
}
.whyKw-parr {
  margin-top: 3rem;
}
.carousel {
  margin: 30px auto;
}
.carousel-item {
  padding: 12px;
  animation: fadeIn ease-in-out 1s;
  transition: none !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.d-block {
  margin: auto;
  width: 100%;
  height: 240px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px whitesmoke;
}
.kwSpan {
  color: #ff0000cf;
}
.subtitle {
  font-weight: bold;
  margin-top: 25px;
  color: rgb(255 185 24);
}
.kwImages-container {
  opacity: 0.1;
  position: absolute;
  margin-top: 25%;
  width: 90%;
}
.kwImages-container img {
  width: 100%;
  height: 18rem;
}
.kwImages-container img:not(:last-child) {
  margin-bottom: 2rem;
}

/* Services page styling */
.marketingStrat-container {
  border-left: solid 5px rgb(222 5 5 / 90%);
  padding-left: 15px;
  margin-bottom: 5rem;
}

.servicesSecondTitle {
  font-size: 18px;
  margin-top: -23px;
}
.services-parr {
  margin-left: 20px;
}
.marketingLogo-img {
  width: 113%;
  margin-bottom: 5rem;
}

/* Strategy page styling */
.planSuccess {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(255 185 24);
  border-bottom: solid 5px rgb(222 5 5 / 90%);
}
.planSuccess > p:first-child {
  margin-bottom: -8px;
}
.planSuccess > :nth-child(2) {
  margin-bottom: 0;
}
.strategy-container > p:nth-child(2) {
  margin: 30px auto 0;
}
.strategyPath-img {
  width: 100%;
  margin: 30px auto;
}

.strategy-container > p:last-child {
  margin-bottom: 30px;
}
/* TEAM PAGE */
.teamImages-container {
  padding: 2rem;
  text-align: center;
}
.teamTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 3rem auto 1rem;
  text-align: center;
  color: rgb(255 185 24);
}
.teamImages-container li {
  list-style: none;
}
.teamImages-container li:not(:last-child) {
  margin-bottom: 2rem;
}
.teamImages-container img {
  width: 85%;
  height: 250px;
}
.member-title {
  text-align: center;
  margin-top: 1rem;
  color: whitesmoke;
  font-size: 18px;
}
.member-title > span {
  border-left: 1px solid whitesmoke;
  margin: 10px;
  margin-right: 15px;
}
.kwnumberone-img {
  padding: 2rem;
  text-align: center;
}
.kwnumberone-img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* Navbar */
  .logoformated-img {
    width: 95%;
    top: 20%;
  }
  .navbar-brand:first-child {
    width: 11%;
  }
  #xmark-container{
    left: 50%
  }
  .navbar-nav, .contactList-container {
    width: 60%;
  }

  .jcbTitle {
    font-size: 20px;
  }
  /* Jennifer picture */
  .jenniferImg-container {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    float: right;
    clear: left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .jennifer-img {
    width: 100%;
  }

  /* I am JM and Im a ...container */
  .heading-container {
    width: 50%;
    /* margin-top: 4rem; */
    padding-top: 70px;
    padding-left: 7%;
    padding-right: 7%;
  }
  /* .questionIcon {
    right: 5%;
    font-size: 65px;
    box-shadow: 0px 20px 30px rgb(92 91 91);
  } */
  .heading-container > p:first-child {
    font-size: 33px;
    text-align: center;
  }
  .heading-container p:nth-child(2) {
    font-size: 29px;
    text-align: center;
  }
  .basedIn {
    padding-top: 70px;
  }
  .abitAboutMe {
    padding-bottom: 0;
  }
  .basedIn,
  .abitAboutMe,
  .abitAboutMe > a {
    font-size: 20px;
    text-align: center;
  }
  /* Slogan container */
  /* .slogan-container {
    width: 221%;
    padding-left: 23%;
  } */
  .slogan {
    font-size: 27px !important;
    font-weight: bold !important;
    /* margin-top: 40px; */
  }

  /* footer */
  .footer-container {
    background-color: rgb(14, 13, 13, 0.1);
    position: relative;
    bottom: 0;
    padding: 60px 15px;
  }
  .kwLogo-container,
  .realityLogo-container,
  .jcbLogo-container {
    width: 16%;
    margin: 2rem 1.5rem;
  }
  .jcbLogo-container {
    width: 11%;
  }
  /* ABOUT PAGE  screen width min 768px*/
  .about-container,
  .services-container,
  .strategy-container {
    padding: 30px 15%;
  }
  .carousel {
    margin: 60px auto;
  }
  .d-block {
    width: 50%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    width: 25% !important;
  }
  .kwImages-container {
    width: 85%;
  }
  .kwImages-container {
    margin-top: 20%;
    opacity: 1;
  }
  .kwImages-container img {
    width: 30%;
    height: 12rem;
  }
  .kwImages-container img:first-child,
  .kwImages-container img:nth-child(3) {
    margin-left: 53%;
  }
  .kwImages-container img:nth-child(2) {
    margin-top: 6rem;
    margin-right: 50%;
  }
  .kwImages-container img:nth-child(3),
  .kwImages-container img:last-child {
    margin-top: 2rem;
  }
  .kwImages-container img:last-child {
    opacity: 0.8;
  }

  .group1 {
    padding-right: 40%;
  }
  .group2 {
    padding-left: 40%;
    text-align: right;
  }
  .subtitle {
    margin-top: 4rem;
  }
  .whyKw-parr p:nth-child(3) {
    margin-top: 0;
  }
  .group1:last-child {
    padding-right: 0;
  }
  /* SERVICES PAGE 768PX */
  .marketingLogo-img {
    width: 100%;
  }
  /* MY TEAM PAGE */
  .teamImages-container img {
    width: 100%;
  }
  .teamImages-container li {
    width: 27%;
    display: inline-grid;
    margin-right: 22px;
    margin-left: 22px;
  }
  .kwnumberone-img img {
    width: 70%;
  }
}

@media screen and (min-width: 820px) {
  .navbar-brand:first-child {
    width: 13%;
  }
  .navbar-toggler {
    font-size: 1.9rem !important;
  }
  .icons {
    font-size: 17px;
  }
  .heading-container {
    margin-top: 3rem;
  }
  .footer-container {
    height: 30%;
    
  }

  /* ABOUT PAGE SCREEN WIDTH 820PX */
  .kwImages-container {
    margin-top: 14.5%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Navbar */
  /* .logoformated-img {
    right: 0;
  } */
  /* .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  } */
  .navbar-brand:first-child {
    width: 13%;
  }
  .logoImg-container {
    width: 70px;
    margin: auto;
  }
  .jcbTitle-container {
    display: none;
  }

  .icons {
    margin: auto 5px;
  }

  .icons span {
    display: none;
  }
  /* .icons svg {
    margin-right: 0.2rem;
  } */
  .skiptranslate span {
    display: block;
  }
  /* --------- */
.navbar-collapse, .navbar-nav, .contactList-container {
  position: initial;
  background-color: initial;
  min-height: initial;
  padding: initial !important;
}
.navbar-nav, .contactList-container {
  display: flex !important;
  margin-bottom: 0;
  justify-content: center;
}
.navbar-nav{
  width: 100%;
}

.contactList-container > p {
  display: none;
}
.nav-link, .icons a{
  color: whitesmoke !important;
}


  /* ---------- */

  /* .me-auto {
    margin-right: inherit !important;
  } */
  /* .me-auto div {
    width: auto;
  } */
  /* .me-auto div:not(:last-child) {
    margin-right: 1%;
  }
  .myteam-container > a {
    width: 85px;
  }
  .navbar-nav {
    margin-top: 0;
    margin-left: 0;
    padding-right: 1.5rem !important;
    width: 100%;
  }
  .nav-link {
    margin-right: 0 !important;
  }
  .contactList-container {
    margin: 0.5rem 0 0.5rem 0.5rem;
  } */
  /* .icons:not(:last-child) {
    margin-right: 0.5rem;
  } */
  /* .icons {
    font-size: 18px;
  } */
  /* Jennifer container */
  .jenniferImg-container {
    float: left;
    clear: right;
    transform: scaleX(1);
  }
  /* Heading container */
  .heading-container {
    float: right;
    margin-top: 0;
  }
  .heading-container > p:first-child {
    font-size: 30px;
  }
  .heading-container p:nth-child(2) {
    font-size: 26px;
  }
  .basedIn,
  .abitAboutMe > a {
    font-size: 17px;
  }
  .ask-container {
    height: 190px;
    width: 90%;
    margin: auto;
  }
  /* .questionIcon {
    top: 25%;
    right: 10%;
    font-size: 89px;
  } */
  .btn-container {
    padding: 0px 40px;
  }
  /* Slogan */
  .slogan-container {
    width: auto;
    padding-left: 0;
    margin-top: 40px;
  }
  .slogan {
    margin-top: 0;
    font-size: 20px !important;
  }
  /* Footer */
  .footer-container {
    background-color: rgb(14, 13, 13, 0);
    margin-top: 4rem;
  }
  .kwLogo-container,
  .realityLogo-container,
  .jcbLogo-container {
    width: 10%;
  }
  .jcbLogo-container {
    width: 7%;
  }

  /* ABOUT PAGE 992PX */
  .about-container,
  .services-container,
  .strategy-container {
    padding: 30px 20%;
  }
  .kwImages-container {
    margin-top: 11%;
  }
  .kwImages-container img {
    width: 25%;
  }
  .kwImages-container img:first-child,
  .kwImages-container img:nth-child(3) {
    margin-left: 46%;
  }
  .kwImages-container img:first-child {
    margin-bottom: 0;
    margin-top: 2rem;
  }
  .kwImages-container img:last-child {
    margin-right: 10%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logoformated-img {
    display: block;
    width: 40%;
    margin-right: 120px;
  }
  /* Navbar */
  .navbar-brand:first-child {
    width: 9%;
  }
  /* ___________________ */
  .navbar {
    position: absolute !important;
    right: 0%;
    display: block !important;
    width: 125px;
    height: 100%;
    z-index: 1;
  }

  .goog-te-combo {
    width: -webkit-fill-available;
    font-size: 9px;
  }
  .container {
    display: block !important;
  }

  .jcbTitle-container {
    display: none;
  }
  #basic-navbar-nav {
    display: block !important;
  }
  .navbar-nav {
    display: initial !important;
  }
  .nav-link {
    font-size: 12px;
    margin-top: 1rem;
  }

  .contactList-container {
    display: initial;
  }
  .icons {
    margin-right: 0 !important;
    margin-top: 1rem;
  }
  .icons svg {
    margin-right: 0;
  }
  .jennifer-img {
    width: 78% !important;
  }
  .heading-container {
    padding-top: 150px !important;
    padding-bottom: 50px !important;
  }
  .heading-container > p:first-child {
    font-size: 33px;
  }
  .heading-container p:nth-child(2) {
    font-size: 29px;
  }
  .ask-container {
    margin-top: 24px;
  }
  .slogan-container {
    margin-top: 60px !important;
  }
  .footer-container {
    margin-top: 0;
    padding-top: 0;
  }

  /* .jennifer-img {
    width: 60%;
  } */
  .heading-container {
    padding: 80px 10% 25px;
  }
  .basedIn {
    padding-top: 25px;
  }
  .ask-container {
    height: 180px;
    width: 70%;
  }
  .ask-container p {
    padding-bottom: 10px;
  }
  .kwLogo-container,
  .realityLogo-container {
    width: 7%;
  }
  .jcbLogo-container {
    width: 5%;
  }
  /* ABOUT PAGE 1200PX */
  .about-container > p:first-child,
  .whyKw-parr > p:nth-child(2) {
    font-size: 20px;
  }
  .d-block {
    width: 35%;
  }
  .kwImages-container {
    margin-top: 3rem;
    width: 80%;
  }
  .kwImages-container img:first-child,
  .kwImages-container img:nth-child(3) {
    margin-left: 50%;
  }
  .kwImages-container img:nth-child(2) {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .kwImages-container img:nth-child(3) {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .kwImages-container img:last-child {
    margin-top: 0;
  }
  /* SERVICES PAGE 1200PX */
  .marketingLogo-img {
    width: 70%;
  }
  /* STRATEGY PAGE 1200PX */
  .strategyPath-img {
    display: block;
    width: 60%;
  }
  /* TEAM PAGE 1200PX */
  .myteam-container > a {
    width: auto;
  }
  .teamImages-container img {
    width: 80%;
  }
  .kwnumberone-img img {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .kwImages-container img:nth-child(3) {
    margin-top: -10px;
  }
  .planSuccess {
    font-size: 38px;
  }
}
/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .subtitle {
    margin-top: 5rem;
  }
  .d-block {
    width: 30%;
    height: 250px;
  }
}
/* Extra large devices (large laptops and desktops, 1700px and up) */
@media only screen and (min-width: 1700px) {
  .jennifer-img {
    width: 72% !important;
  }
  .kwImages-container img:nth-child(3) {
    margin-top: 40px;
  }
  .subtitle:nth-child(9),
  .subtitle:nth-child(7) {
    margin-top: 8rem;
  }
  .kwImages-container img:last-child {
    margin-top: 4rem;
  }
  .subtitle:nth-child(11) {
    margin-top: 7rem;
  }
}
