html {
  height: auto;
}
body {
  height: 100%;
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(
    140deg,
    rgb(138, 132, 132) 0,
    rgb(69, 66, 66) 25%,
    rgb(38, 37, 37) 75%,
    rgb(14, 13, 13) 100%
  );
  font-family: "Poppins", Helvetica, Arial, sans-serif !important;
}
/* Navbar styling - mobile responsive */
.navbar-nav {
  flex-direction: initial !important;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.nav-link {
  font-size: 13px;
  color: whitesmoke !important;
}
.nav-link:not(:last-child) {
  margin-right: 11.5%;
}
.navbar-brand:first-child {
  width: 15%;
  margin-right: 0.5rem;
}
.logoImg {
  width: 100%;
  border-radius: 10%;
  box-shadow: 0px 0px 5px rgb(245, 245, 245);
}
.jcbTitle {
  color: whitesmoke;
  font-weight: bold;
  margin: 0.5rem auto;
  letter-spacing: -0.2px;
}
.fa-bars {
  color: whitesmoke;
}
.navbar-light .navbar-toggler {
  color: rgb(245, 245, 245, 0.55) !important;
  border-color: rgb(245, 245, 245) !important;
}
.navbar {
  background-color: rgb(14, 13, 13);
}
hr {
  color: whitesmoke !important;
  margin: 0.5rem auto 1rem !important;
}
.contactList-container {
  column-count: 2;
  margin: auto 0.5rem 0.5rem;
}
.icons {
  display: block;
  margin-left: -20px;
  font-size: 15px;
  margin-bottom: 0.7rem;
}

.icons a {
  text-decoration: none;
  color: whitesmoke;
}
.icons a:hover {
  color: whitesmoke !important;
}
.icons svg {
  margin-right: 0.5rem;
}

/* Jennifer photo styling */
.jenniferImg-container {
  text-align: center;
  background-color: #e8e6e1;
  background-image: linear-gradient(
    122deg,
    rgb(227, 227, 221) 50%,
    rgb(234, 223, 205) 50%,
    rgb(234, 223, 205) 74%,
    rgb(33 17 17) 74.5%,
    rgb(14, 13, 13) 100%
  );
}
.jennifer-img {
  width: 65%;
  margin: auto;
}

/* Headings 'my name is'...and i'm a ... */
.heading-container {
  padding: 30px 10%;
}

.heading-container p:not(:nth-child(3)) {
  color: rgb(255 185 24);
  margin-bottom: 0;
  font-size: 27px;
  font-weight: 600;
}
.heading-container span {
  margin-left: 0.5rem;
  color: whitesmoke;
}
.heading-container p:nth-child(2) {
  color: rgb(211, 209, 209);
  font-size: 25px;
  margin-top: -14px;
  font-weight: 550;
}
.basedIn {
  padding: 30px 0 0;
  margin-bottom: -15px;
  color: whitesmoke;
}
.basedIn > svg {
  vertical-align: -0.05em;
  margin-left: 0.2rem;
}
.abitAboutMe {
  padding-bottom: 30px;
}
.abitAboutMe span {
  margin-left: 0;
}
.abitAboutMe a:hover {
  color: rgb(255 185 24) !important;
}
.abitAboutMe a {
  color: rgb(211, 209, 209);
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}
/* Ask away banner */
.ask-container {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: rgb(227, 227, 221);
}
.questionIcon {
  position: absolute;
  top: 27%;
  right: 6%;
  font-size: 90px;
  color: rgb(14, 13, 13);
  background-color: rgb(255, 185, 24);
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 30px 30px rgb(92, 91, 91);
}
.ask-container p {
  padding: 30px 20px 20px;
  width: fit-content;
  color: rgb(255, 185, 24) !important;
  text-shadow: 0 0 rgb(14, 13, 13);
}
.btn-container {
  padding: 10px 30px;
}
.btn-container button {
  background-color: rgb(92, 91, 91);
  padding: 5px 10px;
  border-radius: 10px;
}
.btn-container a {
  color: whitesmoke;
  text-shadow: 0 0 rgb(92, 91, 91);
  text-decoration: none;
  font-weight: bold;
}
.btn-container a:hover {
  color: rgb(255, 185, 24);
}
.slogan {
  font-size: 20px !important;
  margin-top: 30px;
  text-align: center;
  font-weight: 500 !important;
  letter-spacing: 1.1px;
}

/* Footer styling */
.footer-container {
  padding: 60px 0.75rem 15px;
  background-color: rgb(14, 13, 13, 0.3);
  text-align: center;
}
.kwLogo-container,
.realityLogo-container,
.jcbLogo-container {
  width: 20%;
  display: inline-flex;
  margin: 1rem;
}
.jcbLogo-container {
  width: 15%;
}
.kwLogo,
.realityLogo,
.jcbLogo {
  width: 100%;
}

.footer-container p {
  font-size: 14px;
  margin-bottom: 0;
  color: whitesmoke;
}
.createdBy {
  margin-top: 20px;
  font-size: 12px !important;
}
.createdBy span {
  border: 1px solid whitesmoke;
  border-radius: 50%;
  padding: 3.5px 2.5px;
  font-family: serif;
}

/* About Page styling */
.topRedBlock {
  display: block;
  width: 80%;
  height: 20px;
  background-color: rgb(222 5 5 / 90%);
}
.topRedBlock2 {
  margin-left: 20%;
}
.about-container,
.services-container,
.strategy-container {
  padding: 30px 10%;
  color: whitesmoke;
}
.about-container > p:first-child,
.whyKw-parr > p:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.about-container > p:first-child,
.whyKw-parr > p:nth-child(2),
.servicesTitles {
  font-size: 18px;
  font-weight: bold;
}
.whyKw-parr {
  margin-top: 3rem;
}
.carousel {
  margin: 30px auto;
}
.carousel-item {
  padding: 13px;
}
.d-block {
  margin: auto;
  width: 100%;
  height: 240px;
  box-shadow: 0px 0px 10px whitesmoke;
}
.kwSpan {
  color: #ff0000cf;
  background: -webkit-linear-gradient(#ff0000cf 60%, grey, black 83.5%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  font-weight: bold;
  margin-top: 25px;
}
.kwImages-container {
  opacity: 0.2;
  position: absolute;
  margin-top: 25%;
  width: 90%;
}
.kwImages-container img {
  width: 100%;
  height: 18rem;
}
.kwImages-container img:not(:last-child) {
  margin-bottom: 2rem;
}

/* Services page styling */
.marketingStrat-container {
  border-left: solid 5px rgb(222 5 5 / 90%);
  padding-left: 15px;
  margin-bottom: 5rem;
}

.servicesSecondTitle {
  font-size: 18px;
  margin-top: -23px;
}
.services-parr {
  margin-left: 20px;
}
.marketingLogo-img {
  width: 113%;
  margin-bottom: 5rem;
}

/* Strategy page styling */
.planSuccess {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 5px;
  border-bottom: solid 5px rgb(222 5 5 / 90%);
}
.planSuccess > p:first-child {
  margin-bottom: -8px;
}
.planSuccess > :nth-child(2) {
  margin-bottom: 0;
}
.strategy-container > p:nth-child(2) {
  margin: 30px auto 0;
}
.strategyPath-img {
  width: 100%;
  margin: 30px auto;
}

.strategy-container > p:last-child {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  body {
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(
      to left,
      rgb(63, 62, 62),
      rgb(14, 13, 13)
    );
  }
  /* Navbar */
  .navbar-brand:first-child {
    width: 11%;
  }
  .navbar-collapse,
  .me-auto {
    text-align: center;
    justify-content: center;
  }
  .contactList-container {
    column-count: 1;
    display: inline-flex;
    padding-left: 0;
  }
  .icons {
    margin: auto 2rem 0 0;
  }
  .jcbTitle {
    font-size: 20px;
  }
  /* Jennifer picture */
  .jenniferImg-container {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    float: right;
    clear: left;
    background-color: black;
    background-image: linear-gradient(
      140deg,
      rgb(227, 227, 221) 50%,
      rgb(234, 223, 205) 50%,
      rgb(234, 223, 205) 74%,
      rgb(33 17 17) 74.5%,
      rgb(14, 13, 13) 100%
    );
    box-shadow: 0 10px 29px -10px rgb(97 95 95);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .jennifer-img {
    width: 90%;
  }

  /* I am JM and Im a ...container */
  .heading-container {
    width: 50%;
    margin-top: 4rem;
    padding-left: 7%;
    padding-right: 7%;
  }
  .questionIcon {
    right: 5%;
    font-size: 65px;
    box-shadow: 0px 20px 30px rgb(92 91 91);
  }
  .heading-container > p:first-child {
    font-size: 33px;
    text-align: center;
  }
  .heading-container p:nth-child(2) {
    font-size: 29px;
    text-align: center;
  }
  .basedIn,
  .abitAboutMe,
  .abitAboutMe > a {
    font-size: 20px;
    text-align: center;
  }
  /* Slogan container */
  .slogan-container {
    width: 221%;
    padding-left: 23%;
    margin-top: 6rem;
  }

  .slogan {
    font-size: 27px !important;
    font-weight: bold !important;
    margin-top: 60px;
  }

  /* footer */
  .footer-container,
  .navbar {
    background-color: rgb(14, 13, 13, 0.1);
  }
  .kwLogo-container,
  .realityLogo-container,
  .jcbLogo-container {
    width: 16%;
    margin: 2rem 1.5rem;
  }
  .jcbLogo-container {
    width: 11%;
  }
  /* ABOUT PAGE  screen width min 768px*/
  .about-container,
  .services-container,
  .strategy-container {
    padding: 30px 15%;
  }
  .carousel {
    margin: 60px auto;
  }
  .d-block {
    width: 50%;
  }
  .kwImages-container {
    width: 85%;
  }
  .kwImages-container {
    margin-top: 20%;
    opacity: 0.9;
  }
  .kwImages-container img {
    width: 30%;
    height: 12rem;
  }
  .kwImages-container img:first-child,
  .kwImages-container img:nth-child(3) {
    margin-left: 53%;
  }
  .kwImages-container img:nth-child(2) {
    margin-top: 6rem;
    margin-right: 50%;
  }
  .kwImages-container img:nth-child(3),
  .kwImages-container img:last-child {
    margin-top: 2rem;
  }
  .kwImages-container img:last-child {
    opacity: 0.8;
  }

  .group1 {
    padding-right: 40%;
  }
  .group2 {
    padding-left: 40%;
    text-align: right;
  }
  .subtitle {
    margin-top: 4rem;
  }
  .whyKw-parr p:nth-child(3) {
    margin-top: 0;
  }
  .group1:last-child {
    padding-right: 0;
  }
  /* SERVICES PAGE 768PX */
  .marketingLogo-img {
    width: 100%;
  }
}

@media screen and (min-width: 820px) {
  .navbar-brand:first-child {
    width: 13%;
  }
  .navbar-toggler {
    font-size: 1.9rem !important;
  }
  .nav-link {
    font-size: 15px;
  }
  .icons {
    font-size: 17px;
  }
  .heading-container {
    margin-top: 6rem;
  }
  .questionIcon {
    right: 8%;
    font-size: 80px;
  }
  .slogan-container {
    margin-top: 9rem;
  }
  .slogan {
    font-size: 31px !important;
  }
  .footer-container {
    margin-top: 2rem;
  }

  /* ABOUT PAGE SCREEN WIDTH 820PX */
  .kwImages-container {
    margin-top: 14.5%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Navbar */
  .navbar-brand:first-child {
    width: 13%;
  }
  .jcbTitle-container {
    width: 100%;
    text-align: center;
  }
  .jcbTitle {
    margin: 0.5rem;
    font-size: 18px;
  }
  .icons {
    margin: auto 0;
  }
  .icons span {
    display: none;
  }
  .me-auto {
    margin-right: inherit !important;
  }
  .navbar-nav {
    margin-top: 0;
    margin-left: 0;
    padding-right: 1.5rem !important;
    width: 100%;
  }
  .nav-link {
    margin-right: 0 !important;
  }
  .contactList-container {
    margin: 0.5rem 0 0.5rem 0.5rem;
  }
  .icons:not(:last-child) {
    margin-right: 0.5rem;
  }
  .icons {
    font-size: 18px;
  }
  /* Jennifer container */
  .jenniferImg-container {
    float: left;
    clear: right;
    box-shadow: 15px 0 20px -9px rgb(97 95 95);
    transform: scaleX(1);
  }
  /* Heading container */
  .heading-container {
    float: right;
    margin-top: 0;
  }
  .heading-container > p:first-child {
    font-size: 30px;
  }
  .heading-container p:nth-child(2) {
    font-size: 26px;
  }
  .basedIn,
  .abitAboutMe > a {
    font-size: 17px;
  }
  .ask-container {
    height: 190px;
    width: 90%;
    margin: auto;
  }
  .questionIcon {
    top: 25%;
    right: 10%;
    font-size: 89px;
  }
  .btn-container {
    padding: 0px 40px;
  }
  /* Slogan */
  .slogan-container {
    width: auto;
    padding-left: 0;
    margin-top: 40px;
  }
  .slogan {
    margin-top: 0;
    font-size: 20px !important;
  }
  /* Footer */
  .footer-container {
    background-color: rgb(14, 13, 13, 0);
    margin-top: 4rem;
  }
  .kwLogo-container,
  .realityLogo-container,
  .jcbLogo-container {
    width: 10%;
  }
  .jcbLogo-container {
    width: 7%;
  }

  /* ABOUT PAGE 992PX */
  .about-container,
  .services-container,
  .strategy-container {
    padding: 30px 20%;
  }
  .kwImages-container {
    margin-top: 11%;
  }
  .kwImages-container img {
    width: 25%;
  }
  .kwImages-container img:first-child,
  .kwImages-container img:nth-child(3) {
    margin-left: 46%;
  }
  .kwImages-container img:first-child {
    margin-bottom: 0;
    margin-top: 2rem;
  }
  .kwImages-container img:last-child {
    margin-right: 10%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Navbar */
  .navbar-brand:first-child {
    width: 9%;
  }
  /* ___________________ */
  .navbar {
    position: fixed !important;
    right: 0%;
    display: block !important;
    width: 100px;
    height: 100%;
    z-index: 1;
  }
  .container {
    display: block !important;
  }

  .jcbTitle-container {
    display: none;
  }
  #basic-navbar-nav {
    display: block !important;
  }
  .navbar-nav {
    display: initial !important;
  }
  .nav-link {
    font-size: 12px;
    margin-top: 1rem;
  }
  hr {
    margin-top: 2rem !important;
  }

  .contactList-container {
    display: initial;
  }
  .icons {
    margin-right: 0 !important;
    margin-top: 1rem;
  }
  .icons svg {
    margin-right: 0;
  }
  .jennifer-img {
    width: 78% !important;
  }
  .heading-container {
    padding-top: 150px !important;
    padding-bottom: 50px !important;
  }
  .heading-container > p:first-child {
    font-size: 33px;
  }
  .heading-container p:nth-child(2) {
    font-size: 29px;
  }
  .ask-container {
    margin-top: 24px;
  }
  .slogan-container {
    margin-top: 60px !important;
  }
  .footer-container {
    margin-top: 0;
    padding-top: 0;
  }

  /* ----------------------- */
  .jenniferImg-container {
    background-image: linear-gradient(
      115deg,
      rgb(227, 227, 221) 50%,
      rgb(234, 223, 205) 50%,
      rgb(234, 223, 205) 74%,
      rgb(33 17 17) 74.5%,
      rgb(14, 13, 13) 100%
    );
  }
  .jennifer-img {
    width: 60%;
  }
  .heading-container {
    padding: 80px 10% 25px;
  }
  .basedIn {
    padding-top: 25px;
  }
  .ask-container {
    height: 180px;
    width: 70%;
  }
  .ask-container p {
    padding-bottom: 10px;
  }
  .kwLogo-container,
  .realityLogo-container {
    width: 7%;
  }
  .jcbLogo-container {
    width: 5%;
  }
  /* ABOUT PAGE 1200PX */
  .about-container > p:first-child,
  .whyKw-parr > p:nth-child(2) {
    font-size: 20px;
  }
  .d-block {
    width: 35%;
  }
  .kwImages-container {
    margin-top: 3rem;
    width: 80%;
  }
  .kwImages-container img:first-child,
  .kwImages-container img:nth-child(3) {
    margin-left: 50%;
  }
  .kwImages-container img:nth-child(2) {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .kwImages-container img:nth-child(3) {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .kwImages-container img:last-child {
    margin-top: 0;
  }
  /* SERVICES PAGE 1200PX */
  .marketingLogo-img {
    width: 70%;
  }
  /* STRATEGY PAGE 1200PX */
  .strategyPath-img {
    display: block;
    width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .kwImages-container img:nth-child(3) {
    margin-top: -10px;
  }
  .planSuccess {
    font-size: 38px;
  }
}
/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .subtitle {
    margin-top: 5rem;
  }
}
/* Extra large devices (large laptops and desktops, 1700px and up) */
@media only screen and (min-width: 1700px) {
  .kwImages-container img:nth-child(3) {
    margin-top: 40px;
  }
  .subtitle:nth-child(9),
  .subtitle:nth-child(7) {
    margin-top: 8rem;
  }
  .kwImages-container img:last-child {
    margin-top: 4rem;
  }
  .subtitle:nth-child(11) {
    margin-top: 7rem;
  }
}
